<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />

<div class="min-h-screen flex flex-row bg-grayLight fixed  dark:bg-black dark:text-white h-20">
  <div class="flex flex-col w-56 bg-white dark:bg-slateDark overflow-hidden">
    <div class="flex items-center justify-center h-20   dark:bg-grayExtraDark p-[27px]">
      <a href="/" class="flex flex-shrink-0 items-center">
        <h1 class="text-white text-xl bg-blue rounded px-1 font-bold dark:text-white">Pizza</h1>
        <h1 class="text-blue text-xl font-bold dark:text-white">Studio</h1>
      </a>
    </div>
    <ul class="flex flex-col py-4 pl-5 dark:bg-grayExtraDark h-full">
      <li class="rounded-l-lg <%= request.fullpath=="/" ? 'bg-blue' : nil %>">
        <a href="/" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray hover:text-grayExtraDark dark:text-gray dark:hover:text-grayLight">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg <%= request.fullpath == "/" ? 'text-white' : 'text-gray' %> dark:text-white"><i class="fa-solid fa-chart-simple"></i></span>
          <span class="text-sm font-medium <%= request.fullpath == "/" ? 'text-white' : nil %> dark:text-white">Menu</span>
        </a>
      </li>

      <li class="rounded-l-lg <%= request.fullpath=="/items" ? 'bg-blue' : nil %>">
        <a href="/items" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray hover:text-grayExtraDark dark:text-gray dark:hover:text-grayLight">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg <%= request.fullpath == "/items" ? 'text-white' : 'text-gray' %> dark:text-white"><i class="fa-solid fa-chart-simple"></i></span>
          <span class="text-sm font-medium <%= request.fullpath == "/items" ? 'text-white' : nil %> dark:text-white">Items</span>
        </a>
      </li>

      <li class="rounded-l-lg <%= request.url.include?('/orders/index') ? 'bg-blue' : nil %>">
        <a href="/orders/index" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray hover:text-grayExtraDark dark:text-gray dark:hover:text-grayLight">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg <%= request.url.include?('/orders/index') ? 'text-white' : 'text-gray' %> dark:text-white"><i class="fa-solid fa-shop-lock"></i></span>
          <span class="text-sm font-medium <%= request.url.include?('/orders/index') ? 'text-white' : nil %> dark:text-white">Order History</span>
        </a>
      </li>

       <li class="rounded-l-lg <%= request.url.include?('/cart/index') ? 'bg-blue' : nil %>">
        <a href="/cart/index" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray hover:text-grayExtraDark dark:text-gray dark:hover:text-grayLight">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg <%= request.url.include?('/cart/index') ? 'text-white' : 'text-gray' %> dark:text-white"><i class="fa-solid fa-archive"></i></span>
          <span class="text-sm font-medium <%= request.url.include?('/cart/index') ? 'text-white' : nil %> dark:text-white">Cart</span>
        </a>
      </li>

    </ul>
  </div>
</div>